Node-Red-Flow.json
[{"id":"a3f8a77c.53f3e8","type":"mqtt in","z":"856cf9d5.2d0ff8","name":"","topic":"GateWayOut","qos":"2","broker":"de7e7fc9.8b2f3","x":113.99999237060547,"y":489.0000801086426,"wires":[["58d23a1b.14bb04","8453e1b3.ca534"]]},{"id":"58d23a1b.14bb04","type":"json","z":"856cf9d5.2d0ff8","name":"","property":"payload","action":"","pretty":false,"x":251.00004768371582,"y":525.0001945495605,"wires":[["6bcf8b2d.8e27c4","8104e9c5.ae13f8","d278da1a.cb7178","de9ef655.fbb248"]]},{"id":"6bcf8b2d.8e27c4","type":"debug","z":"856cf9d5.2d0ff8","name":"Json mqtt","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":410.00011444091797,"y":487.0001811981201,"wires":[]},{"id":"60f95d53.fb1b94","type":"link out","z":"856cf9d5.2d0ff8","name":"sonoffPrinter in","links":["e47a8ae3.62bfe8"],"x":625.0173492431641,"y":889.2327041625977,"wires":[]},{"id":"10c4cb0b.c01475","type":"mqtt out","z":"856cf9d5.2d0ff8","name":"","topic":"complateGateWayOut","qos":"","retain":"","broker":"29449df2.e88e82","x":759.5728569030762,"y":791.0106048583984,"wires":[]},{"id":"d56d213b.c075e","type":"delay","z":"856cf9d5.2d0ff8","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":583.0728187561035,"y":758.8787288665771,"wires":[["1b2c516f.b29aaf","10c4cb0b.c01475"]]},{"id":"1b2c516f.b29aaf","type":"debug","z":"856cf9d5.2d0ff8","name":"Json mqtt","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":763.017219543457,"y":753.0106430053711,"wires":[]},{"id":"6e61a714.444d48","type":"split","z":"856cf9d5.2d0ff8","name":"split the array of the inputs","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":303.0172576904297,"y":691.2329540252686,"wires":[["4414d264.2b9a8c","d56d213b.c075e","a5613453.6b56a8"]]},{"id":"de9ef655.fbb248","type":"change","z":"856cf9d5.2d0ff8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.values","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":288.01045989990234,"y":590.3058252334595,"wires":[["6e61a714.444d48"]]},{"id":"9b6d683d.0a9f08","type":"inject","z":"856cf9d5.2d0ff8","name":"test","topic":"","payload":"{\"values\":[1,2,3,4]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":84.01728439331055,"y":595.2328824996948,"wires":[["de9ef655.fbb248"]]},{"id":"4414d264.2b9a8c","type":"debug","z":"856cf9d5.2d0ff8","name":"Json mqtt","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":572.0173072814941,"y":697.2328720092773,"wires":[]},{"id":"d278da1a.cb7178","type":"trigger","z":"856cf9d5.2d0ff8","op1":"","op2":"Problem with the RF Bridge","op1type":"nul","op2type":"str","duration":"40","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":598.0693855285645,"y":538.6183242797852,"wires":[["e5b9e517.a45db8"]]},{"id":"698bc612.facf28","type":"inject","z":"856cf9d5.2d0ff8","name":"test","topic":"","payload":"Problem with the RF Bridge","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":501.083309173584,"y":589.8371067047119,"wires":[["e5b9e517.a45db8"]]},{"id":"8453e1b3.ca534","type":"debug","z":"856cf9d5.2d0ff8","name":"Json mqtt","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":248.01730346679688,"y":426.2326469421387,"wires":[]},{"id":"7f398f33.cc2f7","type":"mqtt in","z":"856cf9d5.2d0ff8","name":"","topic":"GateWayOut/status","qos":"2","broker":"302e6eee.7fcd12","x":436.0694160461426,"y":429.92710304260254,"wires":[["d2d02791.a64868","d278da1a.cb7178","8104e9c5.ae13f8"]]},{"id":"d2d02791.a64868","type":"debug","z":"856cf9d5.2d0ff8","name":"Json mqtt","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":679.0172348022461,"y":397.23265266418457,"wires":[]},{"id":"8104e9c5.ae13f8","type":"trigger","z":"856cf9d5.2d0ff8","op1":"","op2":"Problem with the RF Bridge","op1type":"nul","op2type":"str","duration":"39","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":631.0172996520996,"y":497.23263931274414,"wires":[["c922a99e.226cd8"]]},{"id":"b5409.11a37bf8","type":"inject","z":"856cf9d5.2d0ff8","name":"test","topic":"","payload":"Problem with the RF Bridge","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":624.0172328948975,"y":457.2326374053955,"wires":[["8104e9c5.ae13f8"]]},{"id":"e5b9e517.a45db8","type":"change","z":"856cf9d5.2d0ff8","name":"set values to the telegram log","rules":[{"t":"set","p":"severity","pt":"msg","to":"2","tot":"num"},{"t":"set","p":"type","pt":"msg","to":"message","tot":"str"},{"t":"set","p":"HostName","pt":"msg","to":"RF2Bridge","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780.0762214660645,"y":600.4447975158691,"wires":[["6f6d89db.f6ff88"]]},{"id":"6f6d89db.f6ff88","type":"link out","z":"856cf9d5.2d0ff8","name":"temperature prnter status","links":["1f7cb744.e408e9"],"x":783.0173025131226,"y":643.0106468200684,"wires":[]},{"id":"a5613453.6b56a8","type":"switch","z":"856cf9d5.2d0ff8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"14279444","vt":"str"},{"t":"eq","v":"16309000","vt":"str"},{"t":"eq","v":"11091864","vt":"str"},{"t":"eq","v":"14279442","vt":"str"},{"t":"eq","v":"13146552","vt":"str"},{"t":"eq","v":"14279448","vt":"str"},{"t":"eq","v":"1719442","vt":"str"},{"t":"eq","v":"1719448","vt":"str"},{"t":"eq","v":"1719444","vt":"str"},{"t":"eq","v":"1783480","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":11,"x":276.0000419616699,"y":933.0000762939453,"wires":[["13287576.aa24cb"],["13287576.aa24cb"],["13287576.aa24cb"],["8af2e575.059bf8","13287576.aa24cb"],["8af2e575.059bf8"],["8af2e575.059bf8"],["8af2e575.059bf8"],["8ad045f9.f2f0e8","833dab19.78da18"],["420cecb4.0491d4"],["ba736151.fb8b1"],["7c6ccbdd.68ca24"]]},{"id":"de7e7fc9.8b2f3","type":"mqtt-broker","z":"","name":"MQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"29449df2.e88e82","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"302e6eee.7fcd12","type":"mqtt-broker","z":"","name":"MQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]