Node-Red-Flow.json
[{"id":"a3f8a77c.53f3e8","type":"mqtt in","z":"856cf9d5.2d0ff8","name":"","topic":"GateWayOut","qos":"2","broker":"de7e7fc9.8b2f3","x":114.00002670288086,"y":476.0000762939453,"wires":[["58d23a1b.14bb04","8453e1b3.ca534"]]},{"id":"58d23a1b.14bb04","type":"json","z":"856cf9d5.2d0ff8","name":"","property":"payload","action":"","pretty":false,"x":266.0000801086426,"y":475.00013732910156,"wires":[["6bcf8b2d.8e27c4","e4e8aad5.a15568"]]},{"id":"6bcf8b2d.8e27c4","type":"debug","z":"856cf9d5.2d0ff8","name":"Json mqtt","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":410.00014877319336,"y":474.00017738342285,"wires":[]},{"id":"10c4cb0b.c01475","type":"mqtt out","z":"856cf9d5.2d0ff8","name":"","topic":"complateGateWayOut","qos":"","retain":"","broker":"29449df2.e88e82","x":759.5728912353516,"y":778.0106010437012,"wires":[]},{"id":"d56d213b.c075e","type":"delay","z":"856cf9d5.2d0ff8","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":583.0728530883789,"y":745.8787250518799,"wires":[["10c4cb0b.c01475","1b2c516f.b29aaf"]]},{"id":"1b2c516f.b29aaf","type":"debug","z":"856cf9d5.2d0ff8","name":"Json mqtt","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":763.0172538757324,"y":740.0106391906738,"wires":[]},{"id":"6e61a714.444d48","type":"split","z":"856cf9d5.2d0ff8","name":"split the array of the inputs","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":303.0172920227051,"y":678.2329502105713,"wires":[["4414d264.2b9a8c","d56d213b.c075e","a5613453.6b56a8"]]},{"id":"de9ef655.fbb248","type":"change","z":"856cf9d5.2d0ff8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.values","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":268.0104675292969,"y":619.3057661056519,"wires":[["6e61a714.444d48"]]},{"id":"9b6d683d.0a9f08","type":"inject","z":"856cf9d5.2d0ff8","name":"test","topic":"","payload":"{\"values\":[1,2,3,4]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":98.01731872558594,"y":645.2328548431396,"wires":[["de9ef655.fbb248"]]},{"id":"4414d264.2b9a8c","type":"debug","z":"856cf9d5.2d0ff8","name":"Json mqtt","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":572.0173416137695,"y":684.2328681945801,"wires":[]},{"id":"e4e8aad5.a15568","type":"switch","z":"856cf9d5.2d0ff8","name":"checking device is RF2Bridge","property":"payload.device","propertyType":"msg","rules":[{"t":"eq","v":"RF2Bridge","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":283.06959533691406,"y":543.8092937469482,"wires":[["d278da1a.cb7178","de9ef655.fbb248"]]},{"id":"d278da1a.cb7178","type":"trigger","z":"856cf9d5.2d0ff8","op1":"","op2":"Problem with the RF Bridge","op1type":"nul","op2type":"str","duration":"40","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":598.0694198608398,"y":525.6183204650879,"wires":[["e5b9e517.a45db8"]]},{"id":"e5b9e517.a45db8","type":"change","z":"856cf9d5.2d0ff8","name":"set values to the telegram log","rules":[{"t":"set","p":"severity","pt":"msg","to":"2","tot":"num"},{"t":"set","p":"type","pt":"msg","to":"message","tot":"str"},{"t":"set","p":"HostName","pt":"msg","to":"RF2Bridge","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780.0762557983398,"y":587.4447937011719,"wires":[["6f6d89db.f6ff88"]]},{"id":"6f6d89db.f6ff88","type":"link out","z":"856cf9d5.2d0ff8","name":"temperature prnter status","links":["1f7cb744.e408e9"],"x":783.017336845398,"y":630.0106430053711,"wires":[]},{"id":"698bc612.facf28","type":"inject","z":"856cf9d5.2d0ff8","name":"test","topic":"","payload":"Problem with the RF Bridge","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":501.0833435058594,"y":576.8371028900146,"wires":[["e5b9e517.a45db8"]]},{"id":"8dce628.44b91a","type":"inject","z":"856cf9d5.2d0ff8","name":"test","topic":"","payload":"{\"device\":\"RF2Bridge\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":77.0695686340332,"y":514.8438787460327,"wires":[["e4e8aad5.a15568"]]},{"id":"8453e1b3.ca534","type":"debug","z":"856cf9d5.2d0ff8","name":"Json mqtt","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":248.01733779907227,"y":413.2326431274414,"wires":[]},{"id":"7f398f33.cc2f7","type":"mqtt in","z":"856cf9d5.2d0ff8","name":"","topic":"GateWayOut/status","qos":"2","broker":"302e6eee.7fcd12","x":436.06945037841797,"y":416.9270992279053,"wires":[["d2d02791.a64868","d278da1a.cb7178","8104e9c5.ae13f8"]]},{"id":"d2d02791.a64868","type":"debug","z":"856cf9d5.2d0ff8","name":"Json mqtt","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670.017333984375,"y":448.2326354980469,"wires":[]},{"id":"1466d090.cbc1bf","type":"mqtt out","z":"856cf9d5.2d0ff8","name":"","topic":"GateWayOut/Forcestatus","qos":"","retain":"","broker":"302e6eee.7fcd12","x":871.0833740234375,"y":521.0208730697632,"wires":[]},{"id":"8104e9c5.ae13f8","type":"trigger","z":"856cf9d5.2d0ff8","op1":"","op2":"Problem with the RF Bridge","op1type":"nul","op2type":"str","duration":"39","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":631.017333984375,"y":484.2326354980469,"wires":[["1466d090.cbc1bf"]]},{"id":"b5409.11a37bf8","type":"inject","z":"856cf9d5.2d0ff8","name":"test","topic":"","payload":"Problem with the RF Bridge","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":655.017333984375,"y":400.2326354980469,"wires":[["8104e9c5.ae13f8"]]},{"id":"6318b566.012c7c","type":"inject","z":"856cf9d5.2d0ff8","name":"test","topic":"","payload":"Problem with the RF Bridge","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":835.017333984375,"y":471.2326354980469,"wires":[["1466d090.cbc1bf"]]},{"id":"de7e7fc9.8b2f3","type":"mqtt-broker","z":"","name":"MQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"29449df2.e88e82","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"302e6eee.7fcd12","type":"mqtt-broker","z":"","name":"MQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]